<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title></title>
		<%= javascript_include_tag "jquery", "application" %>
        <%= stylesheet_link_tag "screen" %>
    </head>
    <body>
      <%= content_tag(:div, SETTINGS["system_message"], :id => "system_message") unless SETTINGS["system_message"].blank? %>
        <div id="wrapper">
            <div id="main">
                <%= flashes %>
                <%= yield %>
            </div>
        </div>
    </body>
</html>
